/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

app-contacts mat-card {
  margin: 1rem !important;
}
